{% extends "file/base.html" %}

{% block title %}{{ t('file.admin.title') }}{% endblock %}

{% block content %}
    {% set path = request.query.get('path', '/') %}

    {% include "file/_upload.html" with ['input_name' => 'files', 'upload_url' => url('file_upload', ['path' => path])] %}

    <a href="{{ url('file_create_directory', ['path' => path]) }}"
       class="b-button b-button_primary b-filemanager__mkdir">Создать директорию</a>

    <div class="b-space"></div>

    <div class="b-filemanager__target" data-filemanager="true" data-wysiwyg="{{ wysiwyg }}">
        {% if objects|length %}
            <table class="b-table file-manager__table">
                <thead class="b-table__thead">
                <tr class="b-table__tr">
                    <th class="b-table__th"></th>
                    <th class="b-table__th">Название</th>
                    <th class="b-table__th"></th>
                </tr>
                </thead>
                <tbody class="b-table__tbody">
                {% for entry in objects %}
                    {% if loop.first and breadcrumbs|length > 1 %}
                        <tr class="b-table__tr">
                            <td class="b-table__td b-td__icon">
                                <i class="b-icon">&#xE2C7;</i>
                            </td>
                            <td class="b-table__td">
                                <a href="{{ breadcrumbs[breadcrumbs|length - 2].url }}">
                                    ...
                                </a>
                            </td>
                            <td align="right" class="b-table__td b-td__actions">

                            </td>
                        </tr>
                    {% endif %}
                    <tr class="b-table__tr">
                        <td class="b-table__td b-td__icon">
                            {% if entry.is_dir %}
                                <i class="b-icon">&#xE2C7;</i>
                            {% endif %}
                        </td>
                        <td class="b-table__td">
                            {% if entry.is_dir %}
                                <a href="{{ url('file_wysiwyg', request.query.all()|merge(['wysiwyg' => wysiwyg, 'path' => entry.path])) }}">{{ entry.name }}</a>
                            {% else %}
                                <a href="{{ entry.url|asset('media') }}" target="_blank">{{ entry.name }}</a>
                            {% endif %}
                        </td>
                        <td align="right" class="b-table__td b-td__actions">
                            {% if not entry.is_dir %}
                                <a href="#"
                                   class="b-td__link b-filemanager__copy"
                                   data-text="{{ entry.url }}">
                                    <i class="b-icon">&#xE14D;</i>
                                </a>
                                <a href="#"
                                   data-name="{{ entry.name }}"
                                   data-url="{{ entry.url|asset('media') }}"
                                   class="b-td__link b-filemanager__paste"
                                   data-text="{{ entry.url }}">
                                    <i class="b-icon">&#xE250;</i>
                                </a>
                            {% endif %}
                            <a href="{{ url('file_delete', ['path' => entry.path]) }}"
                               class="b-td__link file-manager__table-remove"
                               data-confirm="Удалить {{ entry.is_dir ? 'директорию' : 'файл' }}?"
                               data-confirm-message="{{ t('file.delete_confirm') }}"
                               title="{{ t('file.remove') }}">&times;</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="b-typeset">Файлы и директории отсутствуют</div>
        {% endif %}
    </div>
{% endblock %}
